header {
  justify-content: flex-end;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title-circle {
  background-image: linear-gradient(var(--accent2), var(--accent));
  border-radius: 100%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.line-vertical {
  border-left: 8px double var(--main);
  margin: 0 5%;
  height: 600px;
}

/* Right side styles------ */
.container01 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex: 1 1 250px;
}

.container01 h2 {
  text-align: center;
}

form {
 display: flex;
 flex-direction: column;
 flex: 1 1 auto;
}

form input, #pcomment {
  background-color: #e6f7fd;
  border: none;
  line-height: 1.5;
  font-family: jost, Arial, Helvetica, sans-serif;
}

#pcomment {
  height: 120px;
  resize: none;
}

/* Media queries for responsiveness ------*/
@media screen and (max-width: 1055px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .line-vertical {
    display: none;
  }

  .container01 {
    align-self: stretch;
  }

  .title-circle {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .title-circle {
    width: 230px;
    height: 230px;
  }
}